{% extends 'base.html' %}

{% block content %}
    
{% for supplier in all_suppliers %}
    <div class="supplier">
        <div class="content">
            <h3>{{supplier.name}}</h3>
            <p>Location: {{supplier.location}}</p>
            <p>Active: {% if supplier.active == True %} Yes {% elif supplier.active == False%} No {%endif%}</p>
        </div>

        <div class="buttons">
        <form class="show_button" action="/suppliers/{{supplier.id}}">
            <button class="show_more">Show More</button>
        </form>
        </div>
        <hr>
    </div>
{% endfor %}

{% endblock %}