@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff
}

body {
  height: 100vh;
  background-color: #508086;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/47/Annapurna_Ranges_%28Unsplash%29.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  /* background-blend-mode: luminosity; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover{
  color: orange;
  font-weight: bold;
}
/* HEADER */

.navbar {
  margin-top: 50px;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar .links {
  float: right;
  display: flex;
  gap: 5rem;
  padding: 0.5rem 1rem;
}

.links {
  float: auto;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
}

.item-container {
  padding: 1%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
  text-align: left;
  min-width: 200px;
  margin-top: 1em;
  flex: 1;
}

.item-list {
  border: 2px solid;
  padding: 1%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
  text-align: left;
  min-width: 200px;
  margin-top: 1em;
  flex: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adding a box shadow */
}

.new-list {
  border: 2px solid;
  padding: 1%;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 10px;
  top: 50%;
  left: 50;
  text-align: left;
  min-width: 200px;
  margin-top: 1em;
}
input {
  color: #000;
  border: solid 1px #999;
  padding: 0.5em;
  margin: 0.5em;
  width: 100%;
}

textarea {
  min-height: 8em;
  min-height: 100%;
  padding: 0.5em;
  margin: 0.5em;
  width: 100%;
  color: black;
}

select {
  padding: 0.5em;
  margin: 0.5em;
  color: black;
}

.new-page { 
  border: 2px solid;
  padding: 1%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
  margin-top: 200px;
  top: 50%;
  left: 50;
  text-align: center;
}

#welcome {
  text-align: center;
}

button {
    background-color:#508086;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.3s;
    margin-top: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button:hover{
  color:#000000;
  background-color:#FFFFFF;
}

.form {
  margin-left: 20%;
  margin-right: 20%;
}

.item-name {
  color: orange;
}

#content {
  margin-top: 70px;
}

.out-of-stock {
  color: red;
  margin-left: 1px; 
}

.low-stock {
  color: rgb(255, 247, 3);
  margin-left: 10px; 
}

.linked-item {
  font-size: small;
}