{% extends 'base.html' %}

{% block content %}
    
<form action="/items/{{item.id}}" method="post">
    <fieldset class="item-list">
        <legend>Uptade an Item</legend>
        <div class="form">
            <div>
              <label for="name">Name</label><br>
              <input type="text" id="name" name="name" value="{{item.name}}" placeholder="Item Name" autofocus required>
            </div>
          
            <div>
                <label for="description">Description</label><br>
                <textarea id="description" name="description" onfocus="this.innerHTML='{{item.description}}'" required>{{item.description}}</textarea>
            </div>
          
            <div>
                <label for="quantity">Quantity</label><br>
                <input type="number" id="quantity" name="quantity" value="{{item.quantity}}" placeholder="Quantity" required>
            </div>
        
            <div>
                <label for="buying_cost">Buying Cost</label><br>
                <input type="number" id="buying_cost" name="buying_cost" value="{{item.buying_cost}}" required>
            </div>
        
            <div>
                <label for="selling_price">Selling Price</label><br>
                <input type="number" id="selling_price" name="selling_price" value="{{item.selling_price}}" required>
            </div>
        
            <div>
                 <label for="supplier">Supplier</label><br>
                 <select name="supplier" id="">
                    {% for supplier in suppliers %}
                    <option value={{supplier.id}}>{{supplier.name}}</option>
                    {% endfor %}
                 </select>
            </div>

            <div>
                <label for="category">Category</label><br>
                <select name="category" id="">
                   {% for category in categories %}
                   <option value={{category.id}}>{{category.name}}</option>
                   {% endfor %}
                </select>
           </div>
          
            <button type="submit">Update Item</button>
        
            </div>
    </fieldset>
    
  
  </form>
{% endblock %}