{% extends 'base.html' %}

{% block content %}
    
{% for item in all_items %}
    <div class="item-list">
        <div class="content">
            <h3>{{item.name}}</h3>
            <p>Description: {{item.description}}</p>
            <p>Quantity: {{item.quantity}}</p>
            <p>Supplier: {{item.supplier.name}}</p>
        </div>

        <div class="buttons">
        <form class="show_button" action="/items/{{item.id}}">
            <button class="show_more">Show More</button>
        </form>
        </div>
    </div>
{% endfor %}

{% endblock %}