{% extends 'base.html' %}

{% block content %}
    
{% for item in all_items %}
<div class="item-container">
    <div class="item-list">
        <div class="content">
            <h3 class="item-name">{{item.name}}</h3>
            <p><b>Description: </b> {{item.description}}</p>
            <p><b>Supplier: </b> {{item.supplier.name}}</p>
            <p><b>Markup: </b>{{ item.calculate_markup() }}%</p>
            <p><b>Quantity: </b> {% if item.quantity == 0 %}<span class="out-of-stock">Out of Stock</span>{%elif item.quantity < 5 %}{{ item.quantity }}<span class="low-stock">(Stock Low)</span>{% else %}{{ item.quantity }} {% endif %}</p>
        </div>

        <div class="buttons">
        <form class="show_button" action="/items/{{item.id}}">
            <button class="show_more">Show More</button>
        </form>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}