{% extends 'base.html' %}

{% block content %}
<div class="item-list">
    <h3 class="item-name">{{item.name}}</h3>
    <p>Description: {{item.description}}</p>
    <p>Quantity: {{item.quantity}}</p>
    <p>Buying Cost: {{item.buying_cost}}</p>
    <p>Selling Price: {{item.selling_price}}</p>
    <p>Supplier: {{item.supplier.name}}</p>
    <form class="edit-form" action="/items/{{item.id}}/edit">
      <button class="edit-button">Edit item</button>
    </form>
    <form class="delete-form" action="/items/{{item.id}}/delete" method="POST">
      <button class="delete-button">Delete it</button>
    </form>
  </div>

 
{% endblock %}