{% extends 'base.html' %}

{% block content %}
<form action="/items" method="post">
    <div class="new-list" id="new">
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" required autofocus>
    </div>
  
    <div>
        <label for="description">Description: </label>
        <textarea id="description" name="description" rows="4" cols="20" required></textarea>
    </div>
  
    <div>
        <label for="quantity">Quantity: </label>
        <input type="number" id="quantity" name="quantity" required>
    </div>

    <div>
        <label for="buying_cost">Buying Cost: </label>
        <input type="number" id="buying_cost" name="buying_cost" required>
    </div>

    <div>
        <label for="selling_price">Selling Price: </label>
        <input type="number" id="selling_price" name="selling_price" required>
    </div>

    <div>
         <label for="supplier">Supplier: </label>
         <select name="supplier">
            {% for supplier in suppliers %}
            <option value={{supplier.id}}>{{supplier.name}}</option>
            {% endfor %}
         </select>
    </div>
  
    <br>
    <button type="submit">Add to the Inventory</button>
</div>
  </form>
{% endblock %}